body {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 10px;
  color: white;
  
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* HEADER/NAVIGATION */
.brand-logo {
  margin-left: 120px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

nav {
  height: 80px;
  /* padding: 10px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-wrapper {
  background: #133686;
  padding: 6px;
}

/* CHIPS */
.chipDiv {
  background-color: #133686;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chips {
  margin: 0;
}


.page-footer {
  background: #133686;
  text-align: center;
  height: 80px;
  padding: 25px;
}

